.f-ter {
    background-color: #FF0063;
    padding: 20px 20px;
    margin: 2rem 0 0 0;
    opacity: 0.85;
    width: 100%;
    bottom: 0;
    position: relative;
    box-shadow: 2px 2px 5px #999;






    .af-ter {

        text-decoration: none;
        transition: 1s;
        letter-spacing: normal;
        font-family: sans-serif;


        &:hover {

            opacity: 0.95;
            color: #EAF6F6;

        }

    }
}

.f-color {
    color: black;
}